/* Кнопка с иконкой */
.button {
  display: inline-flex;
  align-items: center;

  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 12px 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-color: #3f51b5;
  color: #fff;

  cursor: pointer;
}

.button::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background-image: url('../images/icons/password.svg');
  background-size: contain;
}

.button:hover::before,
.button:focus::before {
  background-image: url('../images/icons/duck.svg');
}

.button:hover,
.button:focus {
  background-color: #283593;
}
