.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat .button {
  all: unset;

  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;

  background-image: url('../images/icons/chat.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-visible {
  display: flex;
}

.modal {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  /* position: relative; */

  background-color: #fff;
  padding: 16px;
  max-width: 600px;
}

.modal button {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
