body {
  background-color: #fff;
  color: #212121;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red,
.green,
.blue {
  font-size: 24px;
}

.recipe .title {
  background-color: palegoldenrod;
}

.recipe .description {
  background-color: teal;
}

.recipe .link {
  color: #212121;
}

.recipe .link:hover,
.recipe .link:focus {
  color: palevioletred;
}

.recipe .link:active {
  color: green;
}

/* 0010 */
.text {
  color: red;
}

/* 0021 */
p.text.color {
  color: palegreen;
}

/* 0001 */
p {
  color: teal;
}

/* 0011 */
p.text {
  color: blue;
}
/* 0020 */
.text.color {
  color: palevioletred;
}

/* 0000 */
/* инлайн id классы теги */

.recipe .accent {
  color: red;
}
