.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list__item {
  flex-basis: calc(50% - 74px);
  margin-right: 148px;
  margin-bottom: 60px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
}

.features-list__description {
  margin-bottom: 32px;
}
