.page-header {
  position: sticky;
  top: 0;
  background-color: $color-primary-white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 999;
}

.page-header__nav {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.page-header__site-logo {
  margin-right: 50px;
}
