.site-nav {
  display: flex;
}

.site-nav__link {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-primary-text;
  }
}
